<div class="row">
  <div class="col-12 col-sm-12" >
    <div class="mgh_title">ایجاد حساب</div>
    <form>
      <div class="hp_input_contents">
        <div class="hp_input_content" >
          <input type="text" placeholder="ایمیل " id="email">
          <img src="./assets/icons/icons8-important-mail-64 (1).png">
        </div>
        <div class="hp_input_content" >
          <input type="password" placeholder="رمز عبور" id="password">
          <img src="./assets/icons/icons8-password-96.png" >
        </div>
        <div class="hp_input_content" >
          <input type="text" placeholder="نام " id="name">
          <img src="./assets/icons/icons8-name-filled-100.png" style="width:18px;" >
        </div>   <div class="hp_input_content" >
        <input type="text" placeholder="نام خانوادگی " id="family">
        <img src="./assets/icons/icons8-name-filled-100.png" style="width:18px;" >
      </div>
        <div class="hp_input_content" >
        <input type="text" placeholder="تلفن همراه " id="mobilenumber">
        <img src="./assets/icons/icons8-iphone-96.png" >
      </div>
      </div>
   <button class="hp_button" type="submit" >ثبت حساب</button>
    </form>


  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12" >
    <div class="mgh_auth_change">
      <span>آیا حساب دارید؟</span><a routerLink="/auth/login">   وارد شوید</a>
    </div>

  </div>
</div>

