<div class="bottom_slide">
  <div class="onSlide_content">
    <div class="arcRectangle_content">
      <img src="./assets/dokmeAsset 1hdpi.svg">
      <p >
        ثبت مسیر
      </p>
    </div>
    <div class="rectangle_content">
      <span (click)="toggle_slide_bottom('source')" > مبداء</span>
      <span (click)="toggle_slide_bottom('destination')"  style="border-right: 2px solid #b19604;
    border-left: 2px solid #b19604;">مقصد</span>
      <span (click)="toggle_slide_bottom('time')">زمان</span>
    </div>

  </div>
  <div class="bottomSlide_content {{active_bottom_slide?'active':null}}"  [ngSwitch]="Type">
    <div class="arcRectangle_content">
      <img src="./assets/dokmeAsset 1hdpi.svg">
      <p >
        {{slideText}}
      </p>
    </div>
    <div class="source_content" *ngSwitchCase="'source'">
      <span><img src="./assets/icons/icons8-home-address-filled-96.png"></span>
      <span>
        آدرس مبدا  است اینجا هوی !!
      </span>
    </div>
    <div class="source_content" *ngSwitchCase="'destination'">
      <div class="destinations_content">
        <div *ngFor="let destination of destinations;let index=index">
          <div class="destinations_name"><span class="destination_index">{{index+1}}</span> <span class="destination_index">{{destination}}</span></div> <span class="destinations_icon" (click)="remove_destinations(index)"><img src="./assets/icons/icons8-cancel-filled.svg"></span>
      </div>

    </div>

    <div *ngSwitchDefault></div>
  </div>



</div>
</div>
