<div class="hp_inmap">
  <div class="hp_inmapp_searchtab">
    <span class="hp_menu_icon_menu" (click)="onActive()"><img src="./assets/icons/icons8-menu.svg"></span>
<!--    <span class="hp_menu_icon_cancel"><img src="./assets/icons/icons8-cancel.svg"></span>-->
    <span class="hp_menu_icon_search"><img src="./assets/icons/icons8-search.svg"></span>
    <span class="hp_menu_input" ><input type="search" placeholder="جستجو آدرس ..."></span>
  </div>
  <agm-map class="google_mgh_map">
  </agm-map>
</div>
