<div class="hp_inmap">
  <div class="hp_inmapp_searchtab">
    <span class="hp_menu_icon_menu" (click)="onActive()"><img src="./assets/icons/icons8-menu.svg"></span>
<!--    <span class="hp_menu_icon_cancel"><img src="./assets/icons/icons8-cancel.svg"></span>-->
    <span class="hp_menu_icon_search"><img src="./assets/icons/icons8-search.svg"></span>
    <span class="hp_menu_input" >
<!--      <input type="search" placeholder="جستجو آدرس ...">-->
  <input id="active_input"
        (keyup)="activeInput()"
         (clickOutside)="DiactiveInput()"
          placeholder="جستجو آدرس ..."
          type="search"
         matGoogleMapsAutocomplete
         (onAutocompleteSelected)="onAutocompleteSelected($event)"
         (onLocationSelected)="onLocationSelected($event)">
    </span>
    <span class="my_places {{showPlace?'active':null}}" (click)="showPlaces()" (clickOutside)="onNotShowPlace()">
      <span class="my_places_img">
        <img src="./assets/icons/icons8-star-100.png">
      </span>
      <span class="place_texts">
       <span class="place_text" *ngFor="let place of myPlaces;let index=index" (click)="selectPlace(index)">
        {{place.AddressName}}
      </span>

      </span>
    </span>
  </div>
  <agm-map [streetViewControl]="false" [zoomControl]="false" [zoom]="zoom" class="google_mgh_map"  (mapReady)="mapReady($event)"  [latitude]="coordinate.Lat"
           [longitude]="coordinate.Lng">
    <ng-container *ngIf="show_marker">
      <agm-marker *ngFor="let x of coordinate_marker_sorce"
                  [markerDraggable]="true"
                  [latitude]="x.Lat"
                  [longitude]="x.Lng"
      [iconUrl]="'https://mt.google.com/vt/icon?psize=20&font=fonts/Roboto-Regular.ttf&color=ff330000&name=icons/spotlight/spotlight-waypoint-blue.png&ax=44&ay=48&scale=1.1&text=%E2%80%A2'">
      </agm-marker>

    </ng-container>
    <ng-container *ngIf="show_marker">
      <agm-marker *ngFor="let x of coordinate_marker_end"
                  [latitude]="x.Lat"
                  [longitude]="x.Lng"
                  [markerDraggable]="true">
      </agm-marker>

    </ng-container>

  </agm-map>
  <span class="google_map_marker" (click)="print($event)">
    <img class="map_pin" src="./assets/icons/icons8-marker-96.png">
    <span class="marker_place">{{isSource?'انتخاب مبدا': 'انتخاب مقصد'}}</span>
  </span>
<!--  <span class="current_location_icon" (click)="GET_MY_LOC()">-->
<!--    <img src="./assets/icons/icons8-target-filled-100.png">-->
<!--  </span>-->
</div>
