<div class="row">
  <div class="col-12 col-sm-12" >
    <div class="mgh_title">ورود کاربر</div>
    <form>
      <div class="hp_input_contents">
        <div class="hp_input_content" >
          <input type="text" placeholder="ایمیل " id="email">
        </div>
        <div class="hp_input_content" >
          <input type="password" placeholder="رمز عبور" id="password">
        </div>
      </div>

      <button class="hp_button" type="submit" >ورود</button>
    </form>


  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12" >


  </div>
</div>
