/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url(./assets/farsi/iransanse/css/fontiran.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  font-family: IRANSans !important;
}
body,html{
  height: 100%;
}
.hp_rastchin{
  direction: rtl;
  height: 100%;
}
.hp_input_content{
  text-align: center;
  margin-bottom: 13px;
  position: relative;
}
 .hp_input_content img {
   left: 16px;
   top: 50%;
   transform: translateY(-65%);
   width: 20px;
   /* height: 40px; */
   position: absolute;
   z-index: 9;
 }
.hp_input_content>input{
  padding: 5px 5px 5px 25px;
  direction: ltr;
  width:90%;
  outline: none;
  border:none;
  border-bottom: 1.5px solid #cccccc;
  -webkit-border-radius: 0;
  caret-color:#e9c500;
  transition: width 0.3s ease;
  -webkit-transition: width 0.6s ease;
}
.hp_input_content>input.mgh-submit{

  border-bottom: 2px solid red;
}
.hp_input_content>input.mgh-invalid_submit{

  border-bottom: 2px solid #009f00;
}
.hp_input_content>input::placeholder{
  font-size: 15px;
  direction: rtl;
  color: #808080b0;
}
.hp_input_content>input:focus {
  /*width: 100%;*/
outline: none;
  border-bottom: 2px solid #e9c500;
  padding-bottom: 4.5px;
}

.siteview {
  padding: 10% 5% 10% 5%;
  height: 100%;
  width: 100%;
  display: block;
}
.mgh_title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #e9c500;
  padding: 10px;
}

button.hp_button{
  width: 100%;
  background: #f7d104;
  border: none;
  border-radius: 3px;
  color: rgba(33, 33, 33, 0.69);
  margin-top: 25px;
  padding: 5px;
  height: 50px;
  font-weight: 600;
  transition: all 0.2s ease;
  outline: none;
}
button.hp_button:hover,button.hp_button:active,button.hp_button:focus{
  background: #dfbd00;
     }
.hp_input_contents{
  height: 240px}
.mgh_auth_change {
  text-align: center;
  margin: 20px 15px;
}
.mgh_auth_change a ,.mgh_forgot_pass a{
color: #dcba00 !important;
  font-weight: 500!important;
  /*text-decoration: underline!important;*/
  cursor: pointer;
}
.mgh_forgot_pass{
  text-align: right;
  margin: 20px 0;
}
.hp_errors.alert-danger {
  text-align: right;
  padding: 10px;
  margin-bottom: -11px;
}
a{
  text-decoration: none!important;
}


/*----------------------HOME--------------------------*/
.hp_home {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slide_content{
  position: fixed;
  height: 100%;
  width: 70%;
  background: #000000e6;
  border-left: 4px solid #b19604;
  border-radius: 2px;
  right: 0;
  top: 0;
  z-index: 12;
  -webkit-transform: translate(100%);
  transform: translate(100%);
  transition: all 0.5s ease;
}
.slide_content.active{
  transform: translate(0%);
}
.map_content{
  height:85%;
  transition: all 0.4s ease;
}
.google_mgh_map{
  height: 100%
}
.hp_inmap{
  height: 100%;
  position: relative;
}
.map_content.blur{
  filter: blur(1.5px);
}
.menu_content{
  height: 15%;
}
.hp_inmapp_searchtab{
  position: absolute;
  top:0;
  z-index: 10;
  width: 100%;
  margin: 11px 0px;
  padding: 0px 10px;

}


.hp_menu_icon_menu img,.hp_menu_icon_cancel img,.hp_menu_icon_search img{
  width: 30px;
  position: absolute;
}
.hp_menu_icon_menu img {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.hp_menu_icon_search img {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.hp_menu_input input{
  width: 100%;
  height: 45px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  border: none;
  outline: none;
  padding: 0px 45px;
  font-size: 14px;
  color: black;
}
.hp_menu_input input::placeholder{
  color: #999999;
}

/*--------------------------------SLIDE_MENU-----------------------------------*/

.hp_slider {
  height: 100%;
  padding: 20px 0 0 0;
  width: 100%;
  display: block;
  overflow: scroll;
}
.slide_contents {
  HEIGHT: 100%;
  width: 100%;
  display: block;
  direction: rtl;
  text-align: right;
  overflow: scroll;
}
.slide_contents li{
  list-style: none;
  color: white;
  padding: 15px 0;
}
.slide_contents a{
  background: #ffff001f;
  display: block;
  margin: 5px 0;
  padding: 0 10px;
  border-right: 6px solid gold;
  cursor: pointer;
  width: 100%;
}
.bot_slied{
  padding: 0 0;
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: all 1s ease;
  background: rgba(88, 88, 88, 0.48);
  border-right: 6px solid #717171;
}
.bot_slied.active{
   max-height: 2000px;
   overflow: hidden;
   display: block;
   padding: 30px 0;
}
.bot_slied .hp_input_content>input{
  background: rgb(45, 47, 48);
  color: white;
}
.bot_slied .hp_input_content>input::placeholder{
  color: white;
}
.butt_bot .hp_button{
  background: #f7d104;
  width: 35%;
  border: none;
  border-radius: 3px;
  color: rgba(33, 33, 33, 0.69);
  margin-top: 40px;
  padding: 5px;
  height: 35px;
  font-size: 14px;
}

.butt_bot{
  text-align: center;
}
ul{
  padding: 0;
}
.slide_contents .hp_errors.alert-danger {
  text-align: right;
  padding: 10px;
  background-color: #2d2f30;
  margin-bottom: -11px;
  color: #ff0707;
  font-size: 13px;
}
.slide_contents .hp_input_content>input.mgh-submit {
  border-bottom: 2px solid #c91407;
}

/*/fekmeimfemkfekmfekm-efoefoefok*/
.bottom_slide,.onSlide_content,.bottomSlide_content {
  height: 100%;
  width: 100%;
}
.bottom_slide{
  position: relative;
}
.onSlide_content{
  position: relative;
  padding: 30px 10px 5px 10px;
  z-index: 6;
  background: white;
}
.arcRectangle_content {
  position: absolute;
  top: -32.5px;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
  display: flex;
  justify-content: center;
  height: 65px;
  align-items: center;
  border-bottom: 2px solid #b19604;
}
.arcRectangle_content img
{
  width: 50%;
  height: 45px;
}
.arcRectangle_content p{
  position: absolute;
  color: white;
  font-size: 15px;
}
.rectangle_content span{
  width: 33%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle_content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.bottomSlide_content {
  position: absolute;
  top: 0;
  transform: translateY(0%);
  height: 500%;
  background: white;
  z-index: 4;
  transition: all 0.5s ease-in-out;
}
.bottomSlide_content.active {
  position: absolute;
  top: 0;
  transform: translateY(-60%);
  height: 500%;
  background: white;
  z-index: 4;
}

.type_content {
  margin: 40px 0 0 0;
  text-align: right;
  padding: 0 13px;
  width: 100%;
  height: 100%;
}
.type_content img {
  width: 45px;
}
.destinations_content,.time_content{
  overflow: scroll;
  height: 45%;
  width: 100%;
  display: block;
}

.source_content{
  overflow: scroll;
  height: 45%;
  width: 100%;
  display: block;
  /*display: flex;*/
  /*display: -webkit-flex;*/
  /*flex-flow: row wrap;*/
  /*-webkit-flex-flow:row wrap ;*/
  /*justify-content: flex-start;*/
  /*align-content: flex-start;*/
  /*align-items: center;*/
  /*-webkit-align-content: flex-start;*/
}
.source_content:after,.source_content:before{
  display: none;
}
span.destinations_icon img {
  width: 23px;
  direction: ltr;
}
.destinations_content>div {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b1960459;
  width: 92%;
  margin: auto;
}
.destinations_name span{
  margin:0 3px;
}
span.destination_index {
  width: 25px;
  height: 25px;
  background: #b19604;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* border-color: brown; */
  border: 1px solid rgba(0, 0, 0, 0.075);
  color: white;
  font-size: 15px;
}
.destinations_content.error>div {
  margin: unset!important;
}
/*.source_content span {*/
/*  color: #a5a7a6;*/
/*}*/
.google_mgh_map{
  position: relative;
}
.map_pin{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%,-50%);
}
.time_menu_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
input#datetimeDate-demo,input#datetimeTime-demo{
  display: none;
}
span.time_menu_text {
  margin: 0 10px;
}
.date_content.noDisplay,.time_content.noDisplay{
display: none;
}
.mgh_slide_menu .mbsc-sc-whl-gr {
  direction: ltr;
}

.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-i .mbsc-sc-itm, .mbsc-ios .mbsc-dt-whl-s .mbsc-sc-itm {
  text-align: center!important;
}
.mgh_slide_menu span.mbsc-dt-month {
  text-align: center;
  display: block;
}
.mbsc-ios .mbsc-sc-whl-l {
  border-top: 1px solid #cbc6acba!important;
  border-bottom: 1px solid #cbc6ac!important;
}
