/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url(./assets/farsi/iransanse/css/fontiran.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  font-family: IRANSans !important;
}
body,html{
  height: 100%;
}
.hp_rastchin{
  direction: rtl;
  height: 100%;
}
.hp_input_content{
  text-align: center;
  margin-bottom: 13px;
  position: relative;
}
 .hp_input_content img {
   left: 16px;
   top: 50%;
   transform: translateY(-65%);
   width: 20px;
   /* height: 40px; */
   position: absolute;
   z-index: 9;
 }
.hp_input_content>input{
  padding: 5px 5px 5px 25px;
  direction: ltr;
  width:90%;
  outline: none;
  border:none;
  border-bottom: 1.5px solid #cccccc;
  -webkit-border-radius: 0;
  caret-color:#e9c500;
  transition: width 0.3s ease;
  -webkit-transition: width 0.6s ease;
}
.hp_input_content>input.mgh-submit{

  border-bottom: 2px solid red;
}
.hp_input_content>input.mgh-invalid_submit{

  border-bottom: 2px solid #009f00;
}
.hp_input_content>input::placeholder{
  font-size: 15px;
  direction: rtl;
  color: #808080b0;
}
.hp_input_content>input:focus {
  /*width: 100%;*/
outline: none;
  border-bottom: 2px solid #e9c500;
  padding-bottom: 4.5px;
}

.siteview {
  padding: 10% 5% 10% 5%;
  height: 100%;
  width: 100%;
  display: block;
}
.mgh_title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #e9c500;
  padding: 10px;
}

button.hp_button{
  width: 100%;
  background: #f7d104;
  border: none;
  border-radius: 3px;
  color: rgba(33, 33, 33, 0.69);
  margin-top: 25px;
  padding: 5px;
  height: 50px;
  font-weight: 600;
  transition: all 0.2s ease;
  outline: none;
}
button.hp_button:hover,button.hp_button:active,button.hp_button:focus{
  background: #dfbd00;
     }
.hp_input_contents{
  height: 240px}
.mgh_auth_change {
  text-align: center;
  margin: 20px 15px;
}
.mgh_auth_change a ,.mgh_forgot_pass a{
color: #dcba00 !important;
  font-weight: 500!important;
  /*text-decoration: underline!important;*/
  cursor: pointer;
}
.mgh_forgot_pass{
  text-align: right;
  margin: 20px 0;
}
.hp_errors.alert-danger {
  text-align: right;
  padding: 10px;
  margin-bottom: -11px;
}
a{
  text-decoration: none!important;
}


/*----------------------HOME--------------------------*/
.hp_home {
  height: 100%;
  width: 100%;
  position: relative;
}
.slide_content{
  position: fixed;
  height: 100%;
  width: 70%;
  background: #000000e6;
  border-left: 4px solid #b19604;
  border-radius: 2px;
  right: 0;
  top: 0;
  z-index: 12;
  -webkit-transform: translate(100%);
  transform: translate(100%);
  transition: all 0.5s ease;
}
.slide_content.active{
  transform: translate(0%);
}
.map_content{
  height:85%;
  transition: all 0.4s ease;
}
.google_mgh_map{
  height: 100%
}
.hp_inmap{
  height: 100%;
  position: relative;
}
.map_content.blur{
  filter: blur(1.5px);
}
.menu_content{
  height: 15%;
}
.hp_inmapp_searchtab{
  position: absolute;
  top:0;
  z-index: 10;
  width: 100%;
  margin: 11px 0px;
  padding: 0px 10px;

}


.hp_menu_icon_menu img,.hp_menu_icon_cancel img,.hp_menu_icon_search img{
  width: 30px;
  position: absolute;
}
.hp_menu_icon_menu img {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.hp_menu_icon_search img {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.hp_menu_input input{
  width: 100%;
  height: 45px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  border: none;
  outline: none;
  padding: 0px 45px;
  font-size: 14px;
  color: black;
}
.hp_menu_input input::placeholder{
  color: #999999;
}

/*--------------------------------SLIDE_MENU-----------------------------------*/

.hp_slider {
  height: 100%;
  padding: 100px 0 0 0;
  width: 100%;
  display: block;
}
.slide_contents {
  HEIGHT: 100%;
  width: 100%;
  display: block;
  direction: rtl;
  text-align: right;
}
.slide_contents li{
  list-style: none;
  color: white;
  padding: 15px 0;
}
.slide_contents a{
  background: #ffff001f;
  display: block;
  margin: 5px 0;
  padding: 0 10px;
  border-right: 1px solid gold;
  cursor: pointer;
  width: 100%;
}
